/* CSS declarations go here */
@font-face {
  font-family: "Cuxhaven-Times";
  src: url("/fonts/CuxhavenTimes.ttf");
}

header h1 {
  text-align: center;
  font-size: 400%;
  font-family: "Cuxhaven-Times";
}

header h6 {
  text-align: center;
  opacity: 0.5;
}

.article-header .title {
  font-size: 200%;
}

.col-headlines {
  border-right: 1px solid #eee;
}
