* {
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: 200;
  font-size: 105%;
}

@font-face {
  font-family: "Cuxhaven-Times";
  src: url("/fonts/CuxhavenTimes.ttf");
}

header h1 {
  text-align: center;
}

header h1 a {
  font-size: 200%;
  font-family: "Cuxhaven-Times", serif;
  color: black;
}

header a:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header h6 {
  text-align: center;
  color: #bbb;
}
