<template name="article_new">
  {{#if currentUser}}
      <form class="article_new">
          <label for="headline">Headline:
              <input type="text" name="headline" placeholder="Article headline">
          </label>
          <label for="text">Article text:
              <textarea name="text" placeholder="Article text">

              </textarea>
          </label>
          <label>Author: {{currentUser.username}} </label>
          <input type="submit">
      </form>
  {{/if}}
</template>