<template name="article_edit">
  {{#if currentUser}}
    {{#with article}}
      <form class="article_edit">
        <label for="headline">
          Headline:
          <input type="text" name="headline" value="{{headline}}" placeholder="Article headline">
        </label>

        <label for="text">
          Article text:
          <textarea name="text" placeholder="Article text">{{text}}</textarea>
        </label>

        <label>Author: {{currentUser.username}}</label>
        <input type="submit">
      </form>
    {{/with}}
  {{/if}}
</template>
